XML Plan

<Channel Number = “5”>
<Name> Channel 5 </Name>
<Programme> Dallas 2012 </Programme>
<Format> Digital </Format>
</Channel>
<Multiplexes Broadcast Frequency= “30Hz”>
<Channels> 1-5 </Channels>
<Signal> FM </Signal>
<Receiver> 20kHz </Receiver>
<Name> Techplex </Name>
</Multiplexes>
<TV Schedules Channel = “Channel 5”>
<Time> 20:00</Time>
<Date> 12/10/12 </Date>


XML Prototype

<?xml version="1.0" encoding="UTF-8"?>
<Schedules>
<Multiplexes BroadcastFreq="<Multiplexes> 
<BroadcastFreq> 
</BroadcastFreq>" Receiver="<Multiplexes>
<Receiver> </Receiver>" Signal="<Multiplexes> 
<Signal> </Signal>" Channel="<Multiplexes> 
<Channel> 
</Channel" Name="<Multiplexes> 
<Name> 
</Name>"/>
<Channel Name="<Channel>
<Name> 
</Name>" Format="<Channel> 
<Format> 
</Format>" Programme="<Channel> 
<Programme> 
</Programme>" type="<Channel> 
<Type> 
</Type>" Number="<Channel> 
<Number> 
</Number>"/>
</Schedules>
